body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}

@media screen and (max-width: 870px) {
  #logo {
    display: none;
  }
}

#logo {
  position: absolute;
  top: 20px;
  left: 20px;
  height: 120px;
  width: 120px;
}

@media screen and (min-width: 870px) {
  header {
    position: sticky;
    top: 0;
  }  
}

header {
  background-color: #000;
  color: white;
  padding: 20px;
  text-align: center;
}

h1 {
  font-size: 40px;
  font-weight: bold;
}

h2 {
  font-size: 36px;
  font-weight: bold;
}

h3 {
  font-size: 32px;
  font-weight: semi-bold;
}

h4 {
  margin: 10px;
  font-size: 28px;
  font-weight: semi-bold;
}

h5 {
  margin: 10px;
  font-size: 24px;
  font-weight: semi-bold;
}

a {
  color: rgba(219, 83, 15, 1);
  text-decoration: none;
}

nav a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
}

#hero {
  background-color: #000;
  background-image: url('/embed.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  padding: 70px 20px;
  text-align: center;
}

.cta-btn {
  background-color: rgba(219, 83, 15, 1);
  color: white;
  font-weight: semi-bold;
  font-size: 18px;
  border: none;
  padding: 10px 20px;
  margin: 10px;
  text-decoration: none;
  border-radius: 5px;
}

#sections {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: radial-gradient(rgba(219, 83, 15, 1) 19%, rgba(0, 0, 0, 1) 100%);
  background-position: center;
  background-size: cover;
}

section {
  padding: 20px;
}

@media screen and (min-width: 870px) {
  #services, #about, #contact, #projects {
    scroll-margin-top: 170px;
  }
}

#services, #about, #contact, #projects {
  background-color: rgba(240, 240, 240, 0.8);
  text-align: center;
  margin: 15px auto;
  width: 80%;
  max-width: 800px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

#services {
  margin-top: 30px;
}

#service-list {
  font-size: 24px;
  font-weight: semi-bold;
  list-style-type: none;
}

ul#project-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  padding: 0;
}

#project-list li {
  margin: 5px;
}

#contact {
  margin-bottom: 30px;
}

form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

form input, form textarea {
  font-size: 14px;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

form button {
  background-color: rgba(219, 83, 15, 1);
  color: white;
  font-size: 18px;
  font-weight: semi-bold;
  border: none;
  border-radius: 4px;
  padding: 10px;
  cursor: pointer;
}

footer {
  text-align: center;
  padding: 10px 0;
  background-color: #000;
  color: white;
}